name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Restore
        run: dotnet restore IconFont.Maui.SourceGenerator.sln
      - name: Build
        run: dotnet build IconFont.Maui.SourceGenerator.sln -v minimal
      - name: Test
        run: dotnet test IconFont.Maui.SourceGenerator.sln -v minimal
